@mixin action-header {
  cursor: pointer;
  position: relative;
  width: 100px;
}
@mixin badge {
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  border-radius: 15px;
  min-width: 25%;
  padding: 1px 5px;
  right: 10px;
  bottom: 30px;
  background: #004395;
  color: white;
}