.cart {
  top: 6px;
  @include action-header;
  .badge {
    @include badge;
    background: $primary;
    color: white;
  }
}

// Cart Drawer
.cart-item-wrapper {
  max-height: 96%;
  overflow: auto;
  margin-top: 30px;
  .empty-cart {
    font-size: 17px;
    color: #000;
    line-height: 22px;
    font-weight: 500;
    margin-top: 50%;
  }
}
.cart-image {
  width: 70px;
  height: 70px;
}
.cart-drawer-header {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  background: #f0f0f0;
  box-shadow: 3px 0 7px #dadada;
  z-index: 1;
  height: 60px;
  .total-cart {
    padding-top: 20px;
    flex: 1;
    position: absolute;
    left: 15px;
    color: $primary;
    font-size: 18px;
    font-weight: 700;
  }
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #f0f0f0;
  box-shadow: 12px 2px 83px -4px black;
  transition: all 0.5s;
  transition-duration: 0.3s;
  animation-duration: 2s;
  padding-top: 40px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .close-btn {
  font-size: 36px;
  cursor: pointer;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  margin-left: 360px;
  @media #{$small-mobile} {
    margin-left: 290px;
  }
  @media #{$extra-small-mobile} {
    margin-left: 290px;
  }
}
