.cart {
  @include action-header;
  .badge {
    @include badge;
    right: 15px;
    bottom: 20px;
    background: $primary;
    color: white;
  }
  .total {
    position: absolute;
    top: 5px;
    right: 70px;
    background: #004395;
    color: white;
    border-radius: 3px;
    padding: 0 10px;
    width: 100%;
  }
}

// Cart Drawer

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #f0f0f0;
  box-shadow: 12px 2px 83px -4px black;
  overflow-x: hidden;
  transition: all 0.5s;
  transition-duration: 0.3s;
  animation-duration: 2s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .close-btn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}